In [8]:
import pandas as pd

In [9]:
df = pd.read_parquet("C:\\Users\\Chase\\OneDrive\\Documents\\Career Development\\Data Science Club\\Spring 2023 Club Project\\features.parquet.gzip")
df

,track_uri,track_name,artist1,artist2,artist3,artist4,artist5,album_name,release_date,danceability,energy,track_popularity,acousticness,valence,tempo
0,spotify:track:00Mb3DuaIH1kjrwOku9CGU,Sk8er Boi,Avril Lavigne,None,None,None,None,Let Go,2002-06-04,0.487,0.900,73.000,0.000,0.484,149.937
1,spotify:track:02XnQdf7sipaKBBHixz3Zp,Paparazzi,Lady Gaga,None,None,None,None,The Fame,2008-01-01,0.762,0.692,70.000,0.113,0.397,114.906
2,spotify:track:09CtPGIpYB4BrO8qb1RGsF,Sorry,Justin Bieber,None,None,None,None,Purpose (Deluxe),2015-11-13,0.654,0.760,78.000,0.080,0.410,99.945
3,spotify:track:0C4ejWmOTMv8vuYj85mf8m,S&M,Rihanna,None,None,None,None,Loud,2010-11-16,0.767,0.682,70.000,0.011,0.833,127.975
4,spotify:track:0cqRj7pUJDkTCEsJkx8snD,Shake It Off,Taylor Swift,None,None,None,None,1989 (Deluxe),2014-01-01,0.647,0.800,78.000,0.065,0.942,160.078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233814,spotify:track:3CG3RfisS4Ihe0qCs8x230,Wrong Move,Olivia Holt,R3HAB,THRDL!FE,None,None,The Wave,2018-08-25,0.722,0.706,0.000,0.161,0.517,124.013
1233845,spotify:track:4f8mP5u0fN4tDAbUdD0808,Howl At The Moon - Radio Edit,Stadiumx,Taylr Renee,None,None,None,Nicky Romero presents Miami 2014,2014-03-17,0.514,0.934,28.000,0.052,0.182,127.953
1233856,spotify:track:4uOrSlPJOfhibX5Mw6IUke,Let The Bass Kick In Miami Girl - Radio Edit,Chuckie,LMFAO,None,None,None,Let The Bass Kick In Miami Girl,2009-12-06,0.762,0.937,0.000,0.050,0.546,128.021
1233903,spotify:track:63bwUT2JAPomuoIITQ2Iiy,You Make Me,Avicii,None,None,None,None,True (Bonus Edition),2013-09-16,0.586,0.727,51.000,0.002,0.496,124.989
1233923,spotify:track:6IPYQZ3qKXJExuD33Z8ha0,Dynamite,AFROJACK,Snoop Dogg,None,None,None,Forget The World (Deluxe),2014-01-01,0.550,0.812,32.000,0.017,0.203,145.037

In [11]:
df = df.drop(columns=['artist1','artist2','artist3','artist4','artist5','track_uri','track_name','album_name'])

In [12]:
pd.set_option('display.float_format', lambda x: f'{x:.3f}')
df.describe()

,danceability,energy,track_popularity,acousticness,valence,tempo
count,1157481.000,1157481.000,1157481.000,1157481.000,1157481.000,1157481.000
mean,0.599,0.597,25.279,0.340,0.490,120.236
std,0.175,0.252,17.020,0.331,0.261,29.828
min,0.000,0.000,0.000,0.000,0.000,0.000
25%,0.492,0.431,12.000,0.037,0.276,96.690
50%,0.620,0.633,25.000,0.220,0.487,120.024
75%,0.727,0.800,37.000,0.618,0.701,139.895
max,0.998,1.000,100.000,0.996,1.000,249.584

In [13]:
def extract_year(year=""):
    year = str(year)
    yerr = year[:4]
    return int(yerr)
    
df['release_date'] = df['release_date'].map(extract_year)
df = df.rename(columns={'release_date':'release_year'})

df.head()

,release_year,danceability,energy,track_popularity,acousticness,valence,tempo
0,2002,0.487,0.900,73.000,0.000,0.484,149.937
1,2008,0.762,0.692,70.000,0.113,0.397,114.906
2,2015,0.654,0.760,78.000,0.080,0.410,99.945
3,2010,0.767,0.682,70.000,0.011,0.833,127.975
4,2014,0.647,0.800,78.000,0.065,0.942,160.078

In [15]:
# get rid of extreme outliers
df = df[df['release_year'] >= 1900]
df = df[(df['tempo'] <= 220) & (df['tempo'] >= 60)]
df

,release_year,danceability,energy,track_popularity,acousticness,valence,tempo
0,2002,0.487,0.900,73.000,0.000,0.484,149.937
1,2008,0.762,0.692,70.000,0.113,0.397,114.906
2,2015,0.654,0.760,78.000,0.080,0.410,99.945
3,2010,0.767,0.682,70.000,0.011,0.833,127.975
4,2014,0.647,0.800,78.000,0.065,0.942,160.078
...,...,...,...,...,...,...,...
1233814,2018,0.722,0.706,0.000,0.161,0.517,124.013
1233845,2014,0.514,0.934,28.000,0.052,0.182,127.953
1233856,2009,0.762,0.937,0.000,0.050,0.546,128.021
1233903,2013,0.586,0.727,51.000,0.002,0.496,124.989
1233923,2014,0.550,0.812,32.000,0.017,0.203,145.037